.blog-title {
  color: #575757;
}
.blog-date {
  margin-top: 10px;
  color: #949494;
  font-size: 18px;
  font-weight: 300;
}
.blogpage-banner-wrap {
  margin-bottom: 30px;
}
.blog-post-meta {
  padding: 5px 0;
}
.single-banner .title {
  margin-bottom: 7px;
}
.blog-post-meta a,
.blog-post-meta span {
  color: #fff;
  font-size: 14px;
  display: inline-block;
}
.widget-title {
  color: #727272;
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.single-widget {
  margin-bottom: 56px;
}
.single-widget ul {
  padding: 0;
}
.single-widget ul li {
  border-bottom: 1px solid #eeeeee;
  padding: 12px 0;
  list-style-type: none;
}
.single-widget ul li:first-child {
  padding-top: 0;
}
.single-widget ul li a {
  font-size: 14px;
  display: block;
  line-height: 20px;
  text-decoration: none;
  color: #8c0776;
}
.single-widget ul li a:hover {
  color: #444;
}
.single-widget ul li span {
  color: #999999;
  font-size: 11px;
}
.right {
  float: right !important;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
.blog-post-meta {}
.blog-post-meta li {
  float: left;
  margin-right: 10px;
  border-right: 1px solid #6bcfe0;
  padding-right: 10px;
  line-height: 11px;
  font-weight: 400;
  list-style-type: none;
}
.blog-post-meta li:last-child {
  margin-right: 0;
  border-right: none;
  box-shadow: none;
  padding-right: 0;
}
.blog-post-meta li,
.blog-post-meta li a {
  font-size: 13px;
}
.blog-post-meta li a:hover {
  color: #444;
}
.single-post-page .thumb-wrap {
  margin-bottom: 25px;
}
.single-post-page .thumb-wrap img {
  width: 100%;
  display: block;
  height: auto;
}
.post-footer {
  padding: 11px 0;
  border-bottom: 1px solid #eeeeee;
  border-top: 1px solid #eeeeee;
  margin-bottom: 45px;
  color: #575757;
}
.share-post li {
  float: left;
  margin-left: 20px;
  line-height: 25px;
  list-style-type: none;
}
.share-post li a {
  font-size: 13px;
  text-transform: uppercase;
  color: #727272;
}
.share-post li a i {
  font-size: 16px;
  margin-right: 6px;
}
.post-action {
  color: #cfcfcf;
  font-size: 20px;
  line-height: 25px;
  margin-right: 10px;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.post-action i {
  font-size: 20px;
  vertical-align: middle;
  margin-right: 5px;
}
.post-action .numb {
  font-size: 13px;
  color: #727272;
  vertical-align: middle;
  font-weight: 500;
}
.post-action.active,
.post-action:hover {
  color: #8c0776;
}
.oauth-link {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.oauth-link:hover {
  color: #8c0776;
}