<nz-layout class="layout">
  <nz-content style="padding:0 50px;">
    <nz-layout style="margin: 24px 0; padding:24px 0; background: #fff">
      <nz-sider [nzWidth]="200" style="background:#fff">
        <ul nz-menu [nzMode]="'inline'" style="height:100%">
          <li nz-submenu>
            <span title><i class="anticon anticon-book"></i>博客管理</span>
            <ul>
              <li nz-menu-item>
                <a routerLink="/admin/blog/create">添加博客</a>
              </li>
              <li nz-menu-item>博客列表</li>
            </ul>
          </li>
        </ul>
      </nz-sider>
      <nz-content style="padding: 0 24px; min-height: 280px;">
        <!-- 路由出口 -->
        <router-outlet></router-outlet>
      </nz-content>
    </nz-layout>
  </nz-content>
</nz-layout>