// -------- 引入官方提供的 less 样式入口文件 -----------
@import "../../node_modules/ng-zorro-antd/src/ng-zorro-antd.less";

// -------- 自定义参数覆盖 -----------
@primary-color          : #6200EE;
@info-color             : #6200EE;
@success-color          : #03DAC5;
@processing-color       : #6200EE;
@error-color            : #B00020;
@highlight-color        : #B00020;
@warning-color          : #FFDE03;
@normal-color           : #d9d9d9;
@menu-dark-bg           : #2A333C;