
<!-- 个人简介组件 -->
<app-about [about]="homeData.about"></app-about>
<!-- 工作经历组件 -->
<app-experience [experiences]="homeData.experiences"></app-experience>
<!-- 教育背景组件 -->
<app-education [educations]="homeData.educations" ></app-education>
<!-- 最新博客列表组件 -->
<app-latest-blog [blogs]="homeData.blogs"></app-latest-blog>